html, body{
    height:100%;
    margin:0;
    padding:0;
}
body{
    background:#eee;
    font: 95% / 1.2 'DroidSansRegular',helvetica,arial,sans-serif;
    color:#222;
}
#deck{
   -moz-perspective: 1000px;
    -ms-perspective: 1000px;
     -o-perspective: 1000px;
-webkit-perspective: 1000px;
        perspective: 1000px;
    min-height: 100%;
    margin:1rem auto;
    width:825px;
}

.card{
    width: 121px;
    height: 121px;
    float:left;
    margin:0 2rem 1rem 0;
    font-size: 2rem;
    text-align:center;
    cursor:pointer;
    position:relative;
    border-radius:10px;
    box-shadow:0 0 10px #999;
    border: 10px solid rgba(255,255,255,1);

   -moz-transition:    -moz-transform 300ms ease-in-out;
    -ms-transition:     -ms-transform 300ms ease-in-out;
     -o-transition:      -o-transform 300ms ease-in-out;
-webkit-transition: -webkit-transform 300ms ease-in-out;
        transition:         transform 300ms ease-in-out;

   -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
     -o-transform-style: preserve-3d;
-webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;

}

.card, .front, .back{
    padding: 20px;
}

#deck .card:nth-child(4n){
     margin-right:0;
}

.front, .back{
    position: absolute;
    top:0;
    left: 0;
    margin:0;
    height:inherit;
    width: inherit;
    -moz-backface-visibility: hidden;
     -ms-backface-visibility: hidden;
      -o-backface-visibility: hidden;
 -webkit-backface-visibility: hidden;
         backface-visibility: hidden;
}

.front{background: #fff;}
.back{background: #BCC1D1 url(cardback2.gif);}

.card.flipped{
   -moz-transform: rotate3d(100,100,0,180deg);
    -ms-transform: rotate3d(100,100,0,180deg);
     -o-transform: rotate3d(100,100,0,180deg);
-webkit-transform: rotate3d(100,100,0,180deg);
        transform: rotate3d(100,100,0,180deg);
}

.card.flipped .front{
   -moz-transform: rotate3d(-100,-100,0,-180deg);
    -ms-transform: rotate3d(-100,-100,0,-180deg);
     -o-transform: rotate3d(-100,-100,0,-180deg);
-webkit-transform: rotate3d(-100,-100,0,-180deg);
        transform: rotate3d(-100,-100,0,-180deg);
}

.matched{
    background: #fff;
   -moz-transform: scale(.01);
    -ms-transform: scale(.01);
     -o-transform: scale(.01);
-webkit-transform: scale(.5);
        transform: scale(.01);
}

.invisible{visibility:hidden;}
.matched .front{background-color:transparent;}

#overlay{
    width:100%;
    height:100%;
    background:rgba(0,0,0,.5);
    position:fixed;
    top:0;
    left:0;
}

.panel{
    background: rgb(255,255,255);
    margin:2rem 3rem;
    padding: 3rem;
    text-align: center;
    position:relative;
    box-shadow: 0px 0px 20px #333;
    border-radius: .3rem
}

.innerwrap{margin:0 auto;}

.hide{display: none;}

label{display:block;}

select{
    text-align:right;
    font-size:2rem;
    padding-right:.3rem;
    vertical-align:middle
}

.close,button{
    font-family: 'SansitaOneRegular';
}

.close{
    position:absolute;
    right:0.8rem;
    top:0.8rem;
    color:#fff;
    padding:.25rem .55rem;
    border:3px solid #aa0000;
    border-radius:15px;
    box-shadow: 2px 2px 0.5rem #666, inset 0px 1px .21rem #333;
    cursor:pointer;
    background-color: #e11d11;
    background-image: -webkit-linear-gradient(top, hsl(3, 86%, 47%), hsl(4, 89%, 29%));
    background-image: -moz-linear-gradient(top, hsl(3, 86%, 47%), hsl(4, 89%, 29%));
    background-image: -o-linear-gradient(top, hsl(3, 86%, 47%), hsl(4, 89%, 29%));
    background-image: -ms-linear-gradient(top, hsl(3, 86%, 47%), hsl(4, 89%, 29%));
    background-image: linear-gradient(top, hsl(3, 86%, 47%), hsl(4, 89%, 29%));
}

.close:hover{
    background-color: #8b1008;
    background-image: -webkit-linear-gradient(top, hsl(4, 89%, 29%), hsl(3, 86%, 47%));
    background-image: -moz-linear-gradient(top, hsl(4, 89%, 29%), hsl(3, 86%, 47%));
    background-image: -o-linear-gradient(top, hsl(4, 89%, 29%), hsl(3, 86%, 47%));
    background-image: -ms-linear-gradient(top, hsl(4, 89%, 29%), hsl(3, 86%, 47%));
    background-image: linear-gradient(top, hsl(4, 89%, 29%), hsl(3, 86%, 47%));
}

.close:active, button:active{box-shadow:none;}

button{
    border:3px solid #537f94;
    font-size: 2em;
    color:#fff;
    box-shadow: 2px 2px 0.5rem #666, inset 1px 1px .31rem #666;
    border-radius:30px;
    cursor:pointer;
    padding:.5rem 2rem;
    background-color: #336699;
    background-color: #537f94;
    background-image: -webkit-linear-gradient(top, hsl(199, 28%, 45%), hsl(210, 55%, 26%));
    background-image: -moz-linear-gradient(top, hsl(199, 28%, 45%), hsl(210, 55%, 26%));
    background-image: -o-linear-gradient(top, hsl(199, 28%, 45%), hsl(210, 55%, 26%));
    background-image: -ms-linear-gradient(top, hsl(199, 28%, 45%), hsl(210, 55%, 26%));
    background-image: linear-gradient(top, hsl(199, 28%, 45%), hsl(210, 55%, 26%));
}

button:hover{
    background-color: #1e4266;
    background-image: -webkit-linear-gradient(top, hsl(210, 55%, 26%), hsl(199, 28%, 45%));
    background-image: -moz-linear-gradient(top, hsl(210, 55%, 26%), hsl(199, 28%, 45%));
    background-image: -o-linear-gradient(top, hsl(210, 55%, 26%), hsl(199, 28%, 45%));
    background-image: -ms-linear-gradient(top, hsl(210, 55%, 26%), hsl(199, 28%, 45%));
    background-image: linear-gradient(top, hsl(210, 55%, 26%), hsl(199, 28%, 45%));
}

ol{margin: 1rem auto; text-align: right;}
li{width:13rem;}

.display{font-family: 'SansitaOneRegular'; font-weight:500}

h1{font-size:4rem;margin:0;}
#config p{line-height:2}

#score p{font-weight:bold;font-family:'DroidSansRegular';margin:1.5rem,}
#score p b{font-size:2.2em;display:block;font-family:'DroidSansBold';font-weight:normal}
#score h1{font-size:1.5em;}
#score h1 b{font-size:2.2em;}
#countdown{font-size: 8rem;min-height: 8rem;}
